html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 500ms linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

figcaption {
  position: absolute;
  bottom: 10%;
  left: 30%;
  text-align: center;
}

figure:first-child {
  left: 20%;
  top: 10%;
  transform: rotate(-12deg);
  z-index: 1;
}

figure:nth-child(2) {
  left: 30%;
  top: 20%;
  transform: rotate(3deg);
  z-index: 2000;
}

figure:last-child {
  left: 40%;
  top: 15%;
  transform: rotate(29deg);
  z-index: 2;
}

.polaroid:hover {
  z-index: 5000;
  transform: rotate(0deg);
  box-shadow: 1px 1px 3px #fff;
}
